<h1>Welcome to home.html</h1>
<ul>
    <li>
        <a href="{% url "classroom:thank_you" %}">ThankYou Page</a>
    </li>
    <li>
        <a href="{% url "classroom:contact" %}">ContactForm PageLink</a>
    </li>
    <li>
         <a href="{% url "classroom:create_teacher" %}">CreateTeacher PageLink</a>
    </li>
    <li>
        <a href="{% url "classroom:list_teacher" %}">ListTeacher PageLink</a>
   </li>
   <li>
    <a href="{% url "classroom:detail_teacher" %}">DetailTeacher PageLink</a>
</li>
</ul> 
